<h1>Users</h1>



<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Usuarios</h6>
    <div class="media text-muted pt-3" *ngFor="let user of users">
        <img class="bd-placeholder-img mr-2 rounded" [src]="user.photo" alt="" style="width: 50px">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray d-flex justify-content-between">
            <div class="d-flex flex-column  w-100">
                <strong class="text-gray-dark">{{user.name}}</strong>
                <span class="text-primary">{{user.email}}</span>
            </div>
            <button (click)="db.removeUser(user.key)" class="btn btn-danger">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </div>



</div>
