<nav *ngIf="auth.user | async as user; else login" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">LOGO</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/settings">Settings</a>
            </li>

        </ul>

    </div>

    <div class="userDiv">
        <span class="text-success">{{ user.email}}</span>

        <button class="btn btn-outline-success my-2 ml-3 my-sm-0" (click)="auth.logout()">Log Out</button>
    </div>


</nav>

<div class="text-center">
    <ng-template #login>
        <div class="loginDiv">
            <form class="form-signin">
                <img class="mb-4" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" name="email" class="form-control" [(ngModel)]="auth.email" placeholder="Email address" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="pass" class="form-control" placeholder="Password" required="" [(ngModel)]="auth.pass">

                <button class="btn btn-lg btn-primary btn-block" (click)="auth.login()" type="submit">Email login</button>
                <p class="mt-5 mb-3 text-muted">© La Freet-2019</p>
                <button (click)="auth.glogin()" class="btn btn-danger"><i class="fab fa-google"></i> Google Login</button>
            </form>


        </div>
    </ng-template>
</div>


<router-outlet *ngIf="auth.user | async as user"></router-outlet>
